<!doctype html>
<html data-ng-app="angularMdStarterApp" <% if(!htmlWebpackPlugin.options.E2E_TEST){ %> data-ng-strict-di <% } %>data-ng-cloak>
  <head>

    <title>Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">

    <!-- [Facebook] -->
    <meta property="fb:admins" content="" />
    <meta property="fb:pages" content="" />
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- [Twitter] -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">

    <% if(htmlWebpackPlugin.options.E2E_TEST){ %>
      <link href="/assets/bundle.css" rel="stylesheet">
    <% } %>
  </head>
  <body>

    <div data-ui-view></div>

    <% if(!htmlWebpackPlugin.options.IS_BUILD){ %>
        <script src="http://localhost:35729/livereload.js"></script>
    <% } %>

    <% if(htmlWebpackPlugin.options.E2E_TEST){ %>
        <script src="/assets/bundle.js"></script>
    <% } %>
</body>
</html>
